<div id="error-explanation">
  <h3><%= pluralize(object.errors.count, 'error') %> detected:</h3>
  <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>