<h1>Welcome to Expense Tracker</h1>

<div>
  <%= link_to 'Add expense', new_expense_path %>
</div>

<%#= line_chart Expense.where("EXTRACT(MONTH FROM date) = ?", 7)
  .and(Expense.where("EXTRACT(YEAR FROM date) = ?", 2023))
  .group(:date).count %>

<%= line_chart Expense.group_by_period('year', :date,
                                       permit: ['day', 'month', 'year'],
                                       range: Date.new(2010)..Date.new(2023).end_of_year)
                                       .sum(:amount) %>

<hr style='margin: 3rem 0;'>

<%= pie_chart Expense.where("EXTRACT(MONTH FROM date) = ?", 7)
  .and(Expense.where("EXTRACT(YEAR FROM date) = ?", 2023))
  .joins(:category)
  .group('categories.name').count %>
