.form-item {
  &:not(:last-child) {
    margin-bottom: var(--space-xs);
  }

  &:nth-last-child(2) {
    margin-bottom: var(--space-xl);
  }

  .form-label {
    display: inline-block;
    width: 130px;
  }

  .group-label {
    display: block;
    margin-bottom: var(--space-xxs);
  }

  input[type="date"],
  input[type="text"],
  input[type="number"],
  select {
    width: 230px;
    line-height: var(--line-height-input);
    padding: 0 var(--space-xs);
  }

  select {
    height: 2.05rem;
  }

  input[type="number"].amount {
    width: 200px;
  }

  .currency {
    font-size: var(--font-size-xl);
    font-weight: 600;
    vertical-align: middle;
    margin-left: var(--space-xxxs);
  }
}