.list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-m);

  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  margin-bottom: var(--space-m);
  padding: var(--space-xs);

  @include media(tabletAndUp) {
    padding: var(--space-xs) var(--space-m);
  }

  &__actions {
    display: flex;
    flex: 0 0 auto;
    align-self: center;
    gap: var(--space-xs);
    margin-left: auto;
  }

  &--indented {
    margin-left: var(--space-xxxl);
  }

  &__parent {
    .category-name {
      cursor: pointer;
    }

    .category-name::before {
      font-size: var(--font-size-xs);
      vertical-align: text-bottom;
      margin-right: var(--space-xs);
    }
  
    .category-name.closed::before {
      content: "▶";
    }
  
    .category-name.opened::before {
      content: "▼";
    }
  }

  &__category {
    align-self: center;
    width: var(--space-xxxxl);

    .category {
      font-size: var(--font-size-xs);
      color: var(--color-text-muted);
    }
  }

  &__info {
    border-left: var(--border-light);
    padding-left: var(--space-m);

    .description {
      color: var(--color-primary);
    }

    .amount {
      font-size: var(--font-size-l);
      font-weight: 600;
    }

    .areas {
      font-size: var(--font-size-xs);
      color: var(--color-primary);

      .spacer {
        color: var(--color-text-body);
        margin: 0 var(--space-xxs);
      }
    }
  }

  &__date {
    display: flex;
    align-items: center;
    gap: var(--space-xxxs);
    color: var(--color-text-muted);
    margin-bottom: var(--space-xxxs);

    .day {
      font-weight: 600;
    }

    .day-name {
      font-weight: 600;
      background: var(--color-white);
      border: var(--border-light);
      padding: var(--space-xxxs);
      line-height: 1;
    }

    .day-total {
      margin-left: auto;
      margin-right: var(--space-m);
      font-weight: 900;
    }
  }
}