.stats {
  display: flex;
  gap: var(--space-m);

  .chart,
  .aside {
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);
    padding: var(--space-m);
  }

  .chart {
    width: 70%;

    .groups {
      display: flex;
      gap: var(--space-m);
      justify-content: space-between;
      margin-top: var(--space-m);
    }
  }

  .aside {
    width: 30%;
  }
}