<%= link_to sanitize('&larr; Back to categories'), categories_path %>

<div class='header'>
  <h1>New category</h1>
</div>

<%= render 'form', category: @category, parent_categories: @parent_categories.pluck(:name, :id), submit_text: 'Add category' %>
