<%= link_to sanitize('&larr; Back to expenses'), expenses_path %>

<div class='header'>
  <h1>New expense</h1>
</div>

<%= render 'form', expense: @expense, parent_categories: @parent_categories, areas: @areas %>
